[Unit]
Description=run ros2 node           
After=network.target

[Service]
Type=simple
User=master
ExecStart=/home/master/run_ros2_node.sh
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
