[Unit]
Description=run ros2 node
After=network.target mavlink-router.service run_ros.service
Requires=mavlink-router.service run_ros.service
BindsTo=mavlink-router.service run_ros.service

[Service]
Environment=HOME=/home/master
Environment=ROS_HOME=/home/master/.ros
Environment=ROS_LOG_DIR=/home/master/.ros/log
Type=simple
#User=master
ExecStart=/home/master/run_remote_receive.sh
Restart=on-failure
RestartSec=5
TimeoutStopSec=5
KillMode=mixed

[Install]
WantedBy=multi-user.target
