[Unit]
Description=Streamlit Boat Control App
After=network.target mavlink-router.service

[Service]
Type=simple
User=master
ExecStart=/home/master/run_boat_control_web.sh
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
